
/* heading colours */

h1 {
    color: rgba(27, 10, 92, 0.932)
}

h3 {
    color: rgb(184, 12, 12)
}

/* paragraphs font styles */

p {
    font-family: 'Black And White Picture', sans-serif;
}