#para {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto Slab', serif;
    padding: 2.2em;
}

#paratwo {
    font-family: 'Dokdo', cursive;
    font-family: 'Slabo 13px', serif;
    font-family: 'Alex Brush', cursive;
    padding: 2.2em;
    font-size: 1.3em;
}

h2 {
    padding: .8em
}

